/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #ff731d;
  --primary-light: hsl(23, 100%, 56%, 0.9);
  --secondary: #2b2b2b;
  --gray: #555;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
.primary-bg {
  background: var(--secondary);
}
.gray-bg {
  background-color: var(--gray);
}
.primary-text {
  color: var(--primary);
}
.primary-text-light {
  color: var(--primary-light);
}
.gray-text {
  color: var(--gray);
}
.primary-btn {
  background-color: var(--primary);
  transition: all 0.5s ease-in-out;
}
.primary-btn:is(:hover, :focus) {
  background-color: var(--primary-light) !important;
}

/* Navbar */
.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* new workout form */

label,
input {
  display: block;
}
.form-control,
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

/* Error Styling */
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
